@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark: #000000;
  --white: #ffffff;
  --accent: #d43533;
  --gold: #a18224;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: var(--dark);
}

a {
  color: var(--gold);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--accent);
  border: 1px solid var(--white);
}

.btn-primary:hover {
  color: var(--accent);
  background-color: var(--white);
  border: 1px solid var(--accent);
}

.header,
.footer {
  padding: 3rem !important;
}

.nav-item {
  margin-right: 0.9rem;
}

.c-gold {
  color: var(--gold);
}

.bg-black {
  background-color: var(--dark);
}

.bg-white {
  background-color: var(--white);
}

.border-gold {
  border: 1px solid var(--gold);
}

.hero-section {
  background-image: url("/static/images/pexels-chris-f-1283219.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.25rem 0 3.75rem 0;
  height: calc(100vh - 432px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 640px;
}

.b-radius {
  border-radius: 0.625rem;
}

.copy {
  font-size: 0.8rem;
}

.centre {
  text-align: center;
}

.terms {
  max-width: 400px;
}

/* media queries */
@media (max-width: 660px) {
  .header,
  .footer {
    flex-direction: column;
    padding: 1rem 0 !important;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100% !important;
  }
  .form-control {
    width: 100%;
  }
  .f-res {
    font-size: 1.5rem;
  }
}
