@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.header,
.footer {
  padding: 3rem !important;
}

.nav-item {
  margin-right: 15px;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.hero-section {
  background-image: url("/static/assets/images/pexels-chris-f-1283219.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0 60px 0;
  height: calc(100vh - 432px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 640px;
}

.b-radius {
  border-radius: 10px;
}

.copy {
  font-size: 0.8rem;
}

.centre {
  text-align: center;
}

/* media queries */
@media (max-width: 660px) {
  .header,
  .footer {
    flex-direction: column;
    padding: 1rem 0 !important;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100% !important;
  }
  .form-control {
    width: 100%;
  }
  .f-res {
    font-size: 1.5rem;
  }
}
