{% extends "base.html" %} {% block title %} The Orchard Admin {% endblock %}
{%block content %}

<div
  class="hero-section bg-black d-flex flex-column justify-content-center align-items-center"
>
  <form action="/admin" method="post" class="bg-white p-4 b-radius">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <h2 class="f-res">Admin login</h2>
    <!-- to generate hidden fields for CSRF's https://flask-wtf.readthedocs.io/en/0.15.x/quickstart/ -->
    {{ form2.hidden_tag() }}
    <div class="form-group">
      <label for='user'>Your name</label>
      <input class='form-control' type='text' id='user' name='user' required></input>
    </div>
    <div class="form-group">
      <label for='password'>Your name</label>
      <input class='form-control' type='password' id='password' name='password' required></input>
    </div>
    <button type="submit" class="btn btn-primary">Login</button> 
  </form>
</div>

{% endblock %}

<!-- The basic inheretance template was obtained from the flask 
documentation https://flask.palletsprojects.com/en/2.3.x/patterns/templateinheritance/  -->
