{% extends "base.html" %} {% block title %} The Orchard Menu {% endblock %}
{%block content %}

<div
  class="hero-section bg-white d-flex flex-column justify-content-center align-items-center"
>
  <div class="bg-white p-4 b-radius table-responsive-md">
    <h2>Terms and conditions</h2>
    <p class="terms">
      This website and booking application are purely for educational & demonstration
      purposes and none of the data will be used for any other reason than to show
      how the reservation system works.</br>
      It is recommended to use fake details.
    </p>
  </div>
</div>

{% endblock %}

<!-- The basic inheretance template was obtained from the flask 
documentation https://flask.palletsprojects.com/en/2.3.x/patterns/templateinheritance/  -->
